
a {
  text-decoration: underline;
  display:inline-block;
}

h2 {
  a {
    color: var(--dot-color);
  }
}
figure{
  margin:0 0 16px 0;
  figcaption{
    font-size: 1.125rem;
    padding-top:var(--space-2x);
    
  }

}
img {
  display: inline-block;
  max-width: 100%;
}

.figure-inline-grid {
  display: flex;
  width: 100%;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  >div {
    padding: 8px;
  }

  .figure_img {
    flex-basis: 240px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .post-content {
    flex-basis: auto;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.above-767 {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and(min-width:768px) {
    display: block;
  }
}

.below-767 {
  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and(min-width:768px) {
    display: none;
  }
}


.full-border-8{
  border:var(--space-2x) solid var(--highlight-color);
}

.reading-time{
  padding: var(--space-3x);
  border-top: 1px solid #dddddd;
  margin-bottom:var(--space-4x );

  p{
    margin-bottom: var(--space-0);
    margin-top: var(--space-0);
  }
}

