:root {
  --font-family-heading: {{ .Site.Params.fontFamilyHeading | default "'Poppins', sans-serif" }};
  --font-family-paragraph: {{ .Site.Params.fontFamilyParagraph | default "'Helvetica', sans-serif" }};
  --font-family-monospace: {{ .Site.Params.fontFamilyMonospace | default "monospace" }};
  --base-color: {{ .Site.Params.baseColor | default "#ffffff" }};
  --base-offset-color: {{ .Site.Params.baseOffsetColor | default "#eaeaea" }};
  --highlight-color: {{ .Site.Params.highlightColor | default "#03A069" }};
  --heading-color: {{ .Site.Params.headingColor | default "#042A29" }};
  --text-color: {{ .Site.Params.textColor | default "#4e5157" }};
  --dot-color: {{ .Site.Params.dotColor | default "#03A069" }};
  --links: {{ .Site.Params.link_color | default "#0F00B8" }};
  --heading1-small : {{  .Site.Params.heading1Small | default "42px" }};
  --color-light : #f5f4f4;
  --margin-16px : 16px;
  --full-width : 100%;
  --wrapper-width : 1000px;
  --space-0 : 0;
  --space-1x : 4px;
  --space-2x : 8px;
  --space-3x : 12px;
  --space-4x : 16px;
  --space-8x : 32px;
  --space-16x: 64px;
  --space-section-b : 20px;
  
}

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);
@import 'theme-normalize';
@import 'skeleton';

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'pagination';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'pygments/github';
@import 'grid';
@import 'content-role';
@import 'content-tools';
@import 'splide';
@import 'caseStudyReview';
@import 'magnificPopup';
@import 'shortcodes';

@import 'theme-modify';

html, body {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 50px;
  }
  &.frame {
    min-height: 100vh;
    border: 18px solid var(--highlight-color);
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
::selection{
  
  background-color:#d4f1e6;
  
}
img::selection{
  background-color: transparent;
}