{{ define "body_classes" }}page-home{{ end }} {{ define "main" }} 
{{ if .Site.Params.showAuthorOnHomepage }} {{ partial "author-large.html" . }} 
{{ end}}

<div class="intro">
  <h1>
    {{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}
  </h1>
  <div class="intro-content">{{ .Content }}</div>
</div>
<div class="row">
  <div class="container u-full-width">
    <h3 style="padding-left:8px;">Latest Case studies</h3>
    {{ if .Site.Params.showPostsOnHomepage }} 
    {{ $posts := where .Site.RegularPages "Type" "posts"}}
    {{ range first 2 $posts }}

<div class="figure-inline-grid">
  <div class="column two">
  {{/*<img data-isDesktop
      src="{{ .Params.image | relURL }}"
      alt="{{.Params.imageAltAttribute}}"
      width="{{.Site.Data.images.desktop}}"
      class="above-767"
    />
    <img data-isMobile
      src="{{ .Params.image | relURL }}"
      alt="{{.Params.imageAltAttribute}}"
      width="{{.Site.Data.images.mobile}}"
      class="below-767"
    />*/}}
    <picture>
      <source srcset="{{.Params.image | relURL}}" media = "(min-width:1024px)" />
      <source srcset="{{.Params.image_small | relURL}}" media="(max-width:991px)" />
      <img src="{{.Params.image | relURL}}" alt="{{.Params.imageAltAttribute}}" />
    </picture>
  </div>
  <div class="post-content column ten">
    
    <h2><a href="{{ .RelPermalink }}" aria-label="Read more on {{ .Title }} case study.">{{ .Title }}</a></h2>
    <p>{{ .Params.description | safeHTML | truncate 250 }}</p>
    <p><span>{{ .ReadingTime }} min read. | <a href="{{ .RelPermalink }}">Read more...</a></span></p>
  </div>
</div>

{{ end }} 
  </div>

</div>


{{end}} 
{{ end }}
